# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Virtual Environment
venv/
env/
.env

# Static files
staticfiles/

# IDE / Editor folders
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Ignore Google OAuth credentials
client_secret.json
gdrive-credentials.json